<footer>
    <div class="footer-top">
        <div class="footer-top-wrapper">
            <div class="foot-elm">
                <ul>
                    <div class="foot-heading">Support</div>
                    <li><a href="#">Help Centre</a></li>
                    <li><a href="#">AirCover</a></li>
                    <li><a href="#">Anti-discrimination</a></li>
                    <li><a href="#">Disability support</a></li>
                    <li><a href="#">Cancellation options</a></li>
                    <li><a href="#">Report neighbourhood concern</a></li>
                </ul>
            </div>
            <div class="foot-elm">
                <ul>
                    <div class="foot-heading">Hosting</div>
                    <li><a href="#">WanderLust your home
                        </a></li>
                    <li><a href="#">AirCover for Hosts</a></li>
                    <li><a href="#">Hosting resources
                        </a></li>
                    <li><a href="#">Community forum</a></li>
                    <li><a href="#">Hosting responsibly</a></li>
                </ul>
            </div>
            <div class="foot-elm">
                <ul>
                    <div class="foot-heading">WanderLust
                    </div>
                    <li><a href="#">Newsroom
                        </a></li>
                    <li><a href="#">New features</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Investors</a></li>
                    <li><a href="#">WanderLust.org emergency stays</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-left">
            <ul>
                <li><a href="">© 2024 WanderLust,</a></li>
                <li><a href=""> Inc.</a></li>
                <li><a href="">·Privacy </a></li>
                <li><a href="">TermsSitemapCompany </a></li>
                <li><a href="">details</a></li>
            </ul>
        </div>
        <div class="footer-bottom-right">
            <div class="lang"><i class="fa-solid fa-globe"></i><a href="#"> English (IN)</a></div>
            <div class="crncy">₹<a href=""> INR</a></div>
            <div class="social-mdy"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i><i
                    class="fa-brands fa-instagram"></i></div>
        </div>
    </div>
</footer>