<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand text-sm-end ml-4" href="/listing"><i class="fa-regular fa-compass"></i> WanderLust</a>
        <button class="navbar-toggler b-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/listing">All Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listing/new">Add new Listing</a>
                </li>

            </ul>
            <!-- navbar.ejs -->
            <form id="searchForm" class="d-flex" role="search" action="/listing/search" method="GET">
                <input id="countryInput" class="form-control me-2" type="search" name="country" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>


            <div class="register-bts">
                <% if (!currUser) { %>
                    <button><a href="/login">LogIn</a></button>
                    <button><a href="/signup">Signup</a></button>
                    <% } %>
                        <% if (currUser) { %>
                            <button><a href="/logout">Logout</a></button>
                            <% } %>
            </div>
        </div>
    </div>
</nav>