<header>
    <nav>
        <div class="logo">
            <i class="fa-regular fa-compass"></i><span>WanderLust</span>
        </div>
        <div class="nav-list">
            <ul>
                <li><a href="/listing">Home</a></li>
                <li><a href="/listing/new">New Listing</a></li>
                <li><a href="#">Experiences</a></li>
            </ul>
        </div>
        <div class="left-part">
            <div class="search-feild">
                <form id="searchForm" class="" action="/listing/search" method="GET">
                    <input id="countryInput" class="" type="search" name="country" placeholder="Search"
                        aria-label="Search">
                    <button class="" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="dropdown z-3">
                <div class="profile-feild">
                    <a class="text-black" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="icon-div">
                            <i class="fa-solid fa-bars"></i>
                            <i class="fa-solid fa-user"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <% if (currUser) { %>
                            <li><a class="dropdown-item" href="/listing/profile/<%= currUser._id %>">Profile</a></li>
                            <% } %>
                                <% if (!currUser) { %>
                                    <li><a class="dropdown-item" href="/login">LogIn</a></li>
                                    <li><a class="dropdown-item" href="/signup">SignUp</a></li>
                                    <% } %>
                                        <% if (currUser) { %>
                                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>