<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="error-div">
            <img class="page-not-found" src="https://blog.thomasnet.com/hubfs/shutterstock_774749455.jpg" alt="">
            <h3>
                <%= massage %>
            </h3>
        </div>
    </body>