<% layout('/layouts/boilerplate') -%>

    <body>

        <%- include('../includes/flash.ejs') %>



            <div class="signip-container">
                <div class="login-container">
                    <form class="login-form needs-validation" action="/login" method="post" class="needs-validation"
                        novalidate>
                        <h1>Welcome Back</h1>
                        <p>Please login to your account</p>
                        <div class="input-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                                required>
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password" required>
                        </div>
                        <button type="submit">Login</button>
                        <div class="bottom-text">
                            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                            <p><a href="">Forgot password?</a></p>
                        </div>
                    </form>
                </div>
            </div>



    </body>