<% layout('/layouts/boilerplate') -%>

    <body>

        <%- include('../includes/flash.ejs') %>



            <div class="signip-container">
                <div class="login-container">
                    <form class="login-form needs-validation" action="/signup" method="post" class="needs-validation"
                        novalidate>
                        <h1 class="fs-2"><i class="fa-regular fa-compass"></i> WanderLust</h1>
                        <p>Create Your Account!</p>
                        <div class="input-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="username"
                                required>
                        </div>
                        <div class="input-group">
                            <input type="email" class="form-control" id="username" name="email" placeholder="email"
                                required>
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="password" required>
                        </div>
                        <button class="font-bold" type="submit">Sign Up</button>
                        <div class="bottom-text">
                            <p>Existing Account : <a href="/login">LogIn</a></p>
                            <p><a href="#">Forgot password?</a></p>
                        </div>
                    </form>
                </div>
            </div>

    </body>