<% layout('/layouts/boilerplate') -%>

    <body>

        <%- include('../includes/flash.ejs') %>

            <div class="signip-container">
                <div class="form">

                    <h2>Sign up</h2>
                    <form action="/signup" method="post" class="needs-validation" novalidate>
                        <input class="form-control" type="text" placeholder="username" name="username" required>
                        <input class="form-control" type="email" placeholder="email" name="email" required>
                        <input class="form-control" type="password" placeholder="password" name="password" required>
                        <button>Sign in</button>
                    </form>
                    <p>or sign up with</p>

                    <div class="socials">
                        <img src="https://i.pinimg.com/originals/b3/da/ac/b3daac6815ebf1516a545db6c3e40a36.jpg" alt="">
                        <img src="https://icones.pro/wp-content/uploads/2021/02/facebook-icone-orange.png" alt="">
                        <img src="https://i.pinimg.com/originals/ac/cf/1d/accf1d80314304e11e2bcf9537e13304.jpg" alt="">

                    </div>
                </div>

                <div class="circle"></div>
                <div class="circle-1"></div>
                <div class="circle-2"></div>
            </div>


    </body>